main.form {
  padding: 0 82px;
  margin-top: 100px;
}

main.form form {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 176px;
}

main.form form input,
main.form form textarea {
  border: none;
  background: #F7F7F7;
  border-radius: 8px;
  outline: none;
}

main.form form section.inputs {
  display: flex;
  flex-direction: column;
}

main.form form label {
  font-size: 16px;
  color: #A8A8A8;
  margin-bottom: 10px;
  cursor: pointer;
}

main.form form section.inputs input {
  height: 40px;
  margin-bottom: 24px;
  padding: 0 8px;

}

main.form form section.textarea {
  display: flex;
  flex-direction: column;
}

main.form form section.textarea textarea {
  margin-bottom: 24px;
  resize: vertical;
  min-height: 150px;
  max-height: 230px;
  padding: 8px;
}

main.form form section.textarea button {
  align-self: flex-end;
}

main.form form section.textarea button.btn:hover,
main.form form section.textarea button.btn:active {
  background: #5687cf;
}

@media (max-width: 1070px) {
  main.form form {
    grid-gap: 100px;
  }
}

@media (max-width: 970px) {
  main.form form {
    grid-gap: 0px;
    grid-template-columns: 1fr;
  }
}