/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #E9F0EE;
  /* background: url('./images/home-background.svg') no-repeat 100% 70%;
  background-size: 40%; */
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 135%;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 82px;  
  margin-top: 24px;
  width: 100%;
}

header img.logo {
  width: 182px;
  height: 130px;
}

header img.menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: filter 0.4s;
}

header img.menu:hover {
  filter: brightness(70%);
}

/* Main */

main {
  display: flex;
  width: 100%;
  margin-top: 48px;
  position: relative;
}

main section.introduction {
  width: 495px;
  margin-left: 82px;
  z-index: 90;
}

main section.introduction h1 {
  color: #63A1FF;
  font-size: 40px;
  margin-bottom: 32px;
}

main section.introduction p {
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 32px;
  color: #67647E;
}

main section.introduction button.btn {
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  height: 60px;
  width: 388px;
  background: transparent;
  border: 0.5px solid #67647E;
  border-radius: 8px;
  color: #80B2FD;
  transition: color 0.4s, background 0.4s;
}

main section.introduction button.btn:hover,
main section.introduction button.btn:active {
  background: #80B2FD;
  color: #E9F0EE;
  border: none;
}

main img {
  width: 40%;
  position: absolute;
  right: 0;
  top: -25px;
}