main.form {
  padding: 0 110px;
  margin-top: 150px;
}

main.form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 176px;
}

main.form form section.inputs {
  display: flex;
  flex-direction: column;
}

main.form form section.textarea {
  display: flex;
  flex-direction: column;
}