@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background : #E9F0EE;
  color      : #67647E;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 135%;
  color      : #63A1FF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  margin-bottom: 32px;
  cursor       : pointer;
  user-select  : none;
  outline      : none;
  font-size    : 18px;
  font-family  : 'Lato', sans-serif;
  font-weight  : 700;
  height       : 40px;
  width        : 300px;
  border       : none;
  border-radius: 8px;
  background   : #80B2FD;
  color        : #E9F0EE;
  transition   : color 0.4s, background 0.4s;
}

.btn-ghost {
  background: transparent;
  color     : #80B2FD;
  border    : 0.5px solid #67647E;
}

.btn-ghost:hover,
.btn-ghost:active {
  background: #80B2FD;
  color     : #E9F0EE;
  border    : none;
}

img.desktop-background {
  width  : 35%;
  opacity: 0.7;
}

img.mobile-background {
  display    : none;
  position   : absolute;
  top        : 0;
  height     : 100%;
  width      : 100%;
  opacity    : 0.17;
  outline    : none;
  user-select: none;
  z-index    : 1;
}

@media (max-width: 960px) {
  img.desktop-background {
    display: none;
  }


  img.mobile-background {
    display: initial;
  }
}

