header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 82px;
}

header img {
  cursor: pointer;
  width: 180px;
  transition: filter 0.4s;
}

header img.dark-logo:hover,
header img.dark-logo:active {
  filter: brightness(70%);
}

header .icon {
  font-size: 35px;
  color: #5F5D7E;
  cursor: pointer;
  transition: color 0.4s;
}

header .icon:hover,
header .icon:active {
  color: #2F2E41;
}

header.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  margin: 0px;
  padding: 15px 82px;
  background: #E9F0EE;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}